@import url("sidebar.css");
* {
  /* Custom Propertys */
  --backgroumd:rgb(100, 146, 255);
  /* options defautl */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  }
  
  *:focus {
      outline: none;
  }
  body {
  font-family: Arial;
  height: 100%;
  width: 100%;
  overflow-x: hidden
  }
  /* .login {
  margin: 20px auto;
  width: 300px;
  }
  .login-screen {
    box-shadow: inset 0 0 5px #C2C2C1;
  padding: 20px;
  border-radius: 5px
  }
  
  .app-title {
  text-align: center;
  color: #777;
  }
  
  .login-form {
  text-align: center;
  }
  .control-group {
  margin-bottom: 10px;
  }
  
  input {
  text-align: center;
  background-color: #ECF0F1;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  width: 250px;
  transition: border .5s;
  }
  
  input:focus {
  border: 2px solid #91D5EF;
  box-shadow: none;
  }
  
  .btn {
    border: 2px solid transparent;
    background: #51AFDA;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
  }
  
  .btn:hover {
    background-color: #91D5EF;
  }
  
  .login-link {
    font-size: 12px;
    color: #444;
    display: block;
      margin-top: 12px;
  }
  #footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#999;
 }

 #content {
  width: 1180px;
  min-height: 100%;
  margin: auto;
  position: relative;
  padding: 20px; 
  padding-top: 50px;
  padding-bottom: -202px;
  padding-right: 50px;
}
#footer {
  width: 100%;
  height: 200px;
  background: #333;
  border-top: 2px solid #000;
  position: absolute;
  bottom: 0;
} */

@import url('../css/gestionarDispositivo.css');
@import url('../css/sidebar.css');
/* Sidebar */
.sidebar__content{
top: 96px;
left: 0;
background: #fff;
width: 250px;
height: 90vh;
transform: translate(0px);
transition: transform 0.8s ease,display 0.3s ease;
/*border: 1px solid #51AFDA;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;*/
transition: margin 0.3s ease;
}

/* Login */
.icono__teca{

}

/* Navbar */
.btn_toggle{
background: transparent;
outline: none;
border: none;
color: #fff;
}

.btn_toggle:focus{
outline: none;
}

.btn_toggle:hover{
color: rgb(224, 224, 224);
}

/* acciones */

.active{
/* transform: translate(-250px); */
margin-left: -250px;
}


.container__agregar{
width: 100vw;
margin: 0;
padding: 0;
display: flex;
justify-content: center;
}

.container__cliente{
width: 100%;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

.container__dispositivo{
width: 100vw;
display: flex;
justify-content: flex-start;
flex-direction: row;
/* display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr; */
}

/* .noactive{
  grid-column: 1/3;
  grid-row: 1/2;
} */

.container__grid1{
  width: 100%;
}
.container__grid{
width: 100%;
}

/* tabla responsiva */

.content__table{
display: flex;
justify-content: center;
}
.table__products{
width: 80%;
background:#fff;
border-collapse: collapse;
border-radius: 20px;
}

.table__products tbody td, th { 
padding: 10px; 
text-align: left; 
}

/*.table__products thead tr th{
color:#51AFDA;
 border: solid 0.5px #000; 
}

.table__products tbody tr{
font-weight: 500;
/* border: solid 0.5px #000; 
}*/
/*
.table__products tbody tr:nth-child(2n+1){
/* background:#3ba8db; 
}

.table__products tbody tr:nth-child(2n){
color:#51AFDA;
}*/

.table__products tbody tr img{
height: 150px;
width: 100px;
}


.table__products tbody td button{
width: 5rem;
margin-top: 5px;
padding: 5px 10px;
border: none;
border-radius: 10px;
color: #fff;
display: flex;
justify-content: space-around;
border: solid transparent 1px ;
}

/*.table__products tbody td button:nth-child(2n+1){
background-color: rgb(71, 135, 255);
}

.table__products tbody td button:nth-child(2n+1):hover{
background-color: rgb(36, 112, 253);
}

.table__products tbody td button:nth-child(2n){
background-color: rgb(255, 57, 57);
}

.table__products tbody td button:nth-child(2n):hover{
background-color: rgb(255, 30, 30);
}

.table__products tbody td button:hover{
border: solid 1px rgb(141, 141, 141);
cursor: pointer;
color: rgb(223, 219, 219);
}
*/
@media (max-width: 470px){
.table__products{
    width: 100%;
}
}

@media only screen and (max-width: 960px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

/* Force table to not be like tables anymore */
table, thead, tbody, th, td, tr { 
display: block; 
}

/* Hide table headers (but not display: none;, for accessibility) */
.table__products thead tr { 
position: absolute;
top: -9999px;
left: -9999px;
}

.table__products tr{ 
    border: 1px solid rgb(238, 238, 238); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 30%; 
}

.table__products td { 
/* Behave  like a "row" */
border: none;
border-bottom: 1px solid rgb(238, 238, 238); 
position: relative;
    width: calc(100% - 5vw);
}

.table__products td:before { 
/* Now like a table header */
position: absolute;
/* Top/left values mimic padding */
top: 6px;
left: -100px;
width: 45%; 
padding-right: 10px; 
    display: block;
white-space: nowrap;
    font-weight: 700;
}

/*
Label the data
*/
.table__products td:nth-of-type(1):before { content: "idcliente"; }
.table__products td:nth-of-type(2):before { content: "Nombre"; }
.table__products td:nth-of-type(3):before { content: "Apellidos"; }
.table__products td:nth-of-type(4):before { content: "Correo"; }
.table__products td:nth-of-type(5):before { content: "Dni"; }
.table__products td:nth-of-type(6):before { content: "Celular"; }
.table__products td:nth-of-type(7):before { content: "Acciones"; }


.table__dispositivo thead tr { 
position: absolute;
top: -9999px;
left: -9999px;
}

.table__dispositivo tr{ 
    border: 1px solid rgb(238, 238, 238); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 30%; 
}

.table__dispositivo td { 
/* Behave  like a "row" */
border: none;
border-bottom: 1px solid rgb(238, 238, 238); 
position: relative;
    width: calc(100% - 5vw);
}

.table__dispositivo td:before { 
/* Now like a table header */
position: absolute;
/* Top/left values mimic padding */
top: 6px;
left: -100px;
width: 45%; 
padding-right: 10px; 
    display: block;
white-space: nowrap;
    font-weight: 700;
}

.table__dispositivo td:nth-of-type(1):before { content: "ID"; }
.table__dispositivo td:nth-of-type(2):before { content: "PAC"; }
.table__dispositivo td:nth-of-type(3):before { content: "ESTADO"; }
.table__dispositivo td:nth-of-type(4):before { content: "ACCIONES"; }

}

table .content__btn{
display: flex;
flex-direction: row;
}

/* Estilos formulario */

.container__form{
display: flex;
width: 100%;
flex-direction: column;
justify-content: center;
}

.container__form form{
display: flex;
justify-content: center;
}
/* formulario */
.formulario__inputs{
display: flex;
justify-content: space-around;
}

.btns-gestionar{
width: 100%;
display: flex;
justify-content: center;
}

@media (max-width: 610px){
.nav__name{
  font-size: 15px;
}  

.sidebar__content{
  top: 130px;
  left: 0;
}
}

@media (max-width: 371px){
.sidebar__content{
  top: 170px;
  left: 0;
}

}

/* navbar */
/* Navbar */
.container__navbar{
width: 100%;
display: flex;
justify-content: space-around;
}

.navitem__content{
display: flex;
justify-content: center;
align-items: center;
color: #fff;
}
/* formulario */
.content__table__atendidos{
  margin: 20px;
  padding: 0 40px;
}

.container_formulario{
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.input__form{
  width: 100%;
}

/* container__atendidos */

.container__atendidos{
  display: flex;
  justify-content: flex-end;
}

.container__atendidos select{
  margin-right:60px;
}

.container__atendidos__cards{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.card__atendido{
  width: 200px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  border-radius: 5px;
  margin-left: 10px;
  background: #7cc8ffd0;
  color: #fff;
  /*transition: background 0.3s ease, color 0.3s ease;*/
}

.card__atendido:hover{
  background: #5250F1;
  color: #fff;
  cursor: pointer;
}

.container__title{
  display: flex;
  justify-content: flex-start;
}

.container__title h4{
  margin-left: 50px;
}

.preguntas{
	padding-left: 10px;
	padding-top: 1px;
	height: 150px;
	width: 550px;

}

#primeras{
	margin-top: 40px;
	width: 550px;
	height: 1400px;
}

#segundas{
	width: 550px;
	height: 1200px;
	margin-top: -1406px;
	margin-left: 600px;
}

#btnEvaluar{
	background-color: #095696ec; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 6px;
}
#btnRecargar{
	background-color: #ec1809;; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 6px;
}

#btnGuardar{
	background-color: #48e73dc5;; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 6px;
}

#styleB{
  margin-bottom: 5%;
	text-align: center;
	width: 1160px;
	height: 50px;
	background-color: white;

}

.div_principal{
  align-items: center;
  margin-left: 10%;
}