
<style type="text/css">
.col-lg-3 {
    display: none !important;
}
</style>

<!-- <div class="container__agregar"> -->
<div class="container__agregar">
   
    <div class="card text-dark bg-light mb-3" style="width: 40rem;">
        <div class="card-header fw-bold text-center">Registrar Dispositivo</div>

            <div class="container ">
                <div class="container__form">
                <form method="post" action="index.php?vista=dispositivo">
                    <table>
                        <thead>
                            <tr>
                                <td colspan="2">FORMULARIO </td>
                            </tr>
                        </thead>
                        <tr>
                            <td><label>ID</label></td>
                            <td><input type="text" name="id"></td>
                        </tr>
                        <tr>
                            <td><label>PAC</label></td>
                            <td><input type="text" name="pac"></td>
                        </tr>
                        <tr>
                            <td><label>Estado</label></td>
                            <td><input type="checkbox" name="estado"></td>
                        </tr>
                        <tr>
                            <td colspan="2"> <input type="submit" class="btn btn-primary mx-2" value="Guardar" name="Guardar"></td>
                            <td colspan="2"> <input type="submit" class="btn btn-secondary" value="Regresar" name="Regresar"></td>
                        </tr>
                    </table>
                </form>
            </div>
    </div>
</div>
<!-- </div> -->
<script type="text/javascript">
function goBack() {
    window.history.back();
}
$(document).ready(function() {
    $('.toast').toast('show');
});
</script>
<script src="./js/main.js"></script>
