
<!DOCTYPE html>
<html lang="es-PE">
<head>
    <meta charset="UTF-5">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
	<link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
	<script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js"
      integrity="sha512-UwcC/iaz5ziHX7V6LjSKaXgCuRRqbTp1QHpbOJ4l1nw2/boCfZ2KlFIqBUA/uRVF0onbREnY9do8rM/uT/ilqw=="
      crossorigin="anonymous"
    ></script>
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
 
   <!--Estilos del boton-->
   <style>
		.btn-primary {
			background-color: #008AFC;
			border-color: #008AFC
		}
		.btn-primary:hover {
			background-color: #03BEED;
			border-color: #03BEED
		}
   </style>

    <title>Sistemas Expertos</title>
</head>
<body style="background-color:#F8F9FC;">
	
	<form name="form1" method="post" action="#">
		<br><br>
		<div class="position-absolute "  style="left: 45% !important">
		<br><br><br><img src="./assets/untels.png" class="icono__untels top-15" alt="logo-untels" height="200px">
		</div>
		
		<div class="w-25  position-absolute top-50 start-50 translate-middle" >
					<div class="mb-3">
						<label class="form-label">Usuario</label>
						<input type="text" class="form-control" placeholder="nombre@example.com" name="login" id="login">
					</div>
					<div class="mb-3">
						<label class="form-label">Contraseña</label>
						<input type="password"  class="form-control" name="password"  id="password">
						
					</div>
					<div class="d-grid gap-2">
					<br>
						<input class="btn btn-primary" type="submit" id="bntAceptar" name="bntAceptar" value="Ingresar">
					</div>
		</div>
			

	</form>
</body>
</html>
  