
<style type="text/css">
.col-lg-3 {
    display: none !important;
}
</style>


<div class="container__grid1">
<br><h4 style="text-align: center;" class="card-title">Lista de clientes</h4><br><br>
<div class="content__table">
  <form action="index.php?vista=paciente" method="post">
    <input type="submit" name="btngestionarr" value="Agregar" class="btn btn-primary mx-2" style="float: right">
</form>  
</div>
<div class="content__table">
    
    <table id="tabla_paciente" class="table table-hover my-4" style="width: 70%;">
    
        <thead>
            <tr>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col">DNI</th>
                <th scope="col">Edad</th>
                <th scope="col">Ver Diagnosticos</th>
            </tr>
        </thead>

        <tbody>
            
        </tbody>
    </table>
</div>

</div>