<div class="container__grid1">
  <br><h4 style="text-align: center;" class="card-title">Lista de Diagnosticos</h4><br><br>
  
  <div class="content__table">
      
      <table id="tabla_diagnostico" class="table table-hover my-4" style="width: 70%;">
      
          <thead>
              <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Enfermedad</th>
              </tr>
          </thead>
  
          <tbody>
              
          </tbody>
      </table>
  </div>
  
  </div>
<script type="text/javascript">
  function goBack() {
    window.history.back();
  }
  $(document).ready(function () {
    $(".toast").toast("show");
  });
</script>
<script src="./js/busqueda_diagnostico.js"></script>

<!-- <script src="./js/main.js"></script> -->
