
        <div class="sidebar__content" id="sidebar">
        <?php
        if ($_SESSION['idcargo'] == 1 ) {
        ?>
            <a class="nav-link disabled" href="#">Gestión</a>

        <?php } ?>
        <?php
        if ($_SESSION['idcargo'] == 1 ){?>
            <form action="?vista=paciente" method="POST">
                <button class="btn btn-link" type="submit" name="listar">Listar Paciente</button>
            </form>
        <?php }
        if($_SESSION['idcargo']==1 ){   
            ?>
             <form method="POST" action="index.php?vista=paciente">
                <button class="btn btn-link" name="btngestionarr" id="Listar">Agregar Paciente</button>
            </form>
            
        <?php }
        if($_SESSION['idcargo']==2){   
            ?>
             <form method="POST" action="?vista=atendidos">
                <button class="btn btn-link btn__sidebar" name="Listar" id="Listar">
                <h6>
                    Solicitudes
                </h6>
                </button>
            </form>
             <form method="POST" action="?vista=pedidos">
                <button class="btn btn-link btn__sidebar" name="Listar" id="Listar">
                <h6>
                   Atendidos
                </h6>
                </button>
            </form>
             <form method="POST" action="?vista=atendidos2">
                <button class="btn btn-link btn__sidebar" name="Listar" id="Listar">
                <h6>
                    No Atendidos
                </h6>
                </button>
            </form>
            
        <?php }
        ?>
        </div>

